.container{
    height: 100px;
    display: flex;
    /* flex-direction:row-reverse ; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    background-color: black;
    /* flex-direction: column-reverse; */

}

.div1{
    background-color: aqua;
    width: 40px;
    height: 20px;
}

.div2{
    background-color: bisque;
    width: 40px;
    height: 20px;
}

.div3{
    background-color: blue;
    width: 40px;
    height: 20px;
}

.div4{
    background-color: orange;
    width: 40px;
    height: 20px;
}